@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    
    font-size: 100%;
    background: rgba(105, 21, 32, 0.94);
   
   
    
}
.cabecalho{
    background: #15151D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-imagem{
    height: 52px;
    width: 182px;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
